<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.hotel.dao.EmployeeMapper">

    <insert id="addEmployee">
        insert into sys_employee (loginName,loginPwd,name,sex,deptId,hireDate,salt,createdBy,createDate,remark)
        values(#{loginName},#{loginPwd},#{name},#{sex},#{deptId},#{hireDate},#{salt},#{createdBy},now(),#{remark})
    </insert>
    <update id="updateEmployee">
        update sys_employee
        <set>
            <if test="loginPwd != null and loginPwd != ''">
                loginpwd = #{loginPwd},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="deptId != null">
                deptId = #{deptId},
            </if>
            <if test="hireDate != null">
                hireDate = #{hireDate},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
            <if test="modifyBy != null">
                modifyBy = #{modifyBy},
            </if>
            <if test="modifyDate != null">
                modifyDate = #{modifyDate},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
            where id = #{id}
    </update>
    <delete id="deleteById">
        delete from sys_employee where id = #{id}
    </delete>

    <select id="findEmployeeByLoginName" resultType="com.ssm.hotel.entity.Employee">
        select * from sys_employee where loginname = #{loginName}
    </select>
    <select id="getEmployeeCountByDeptId" resultType="java.lang.Integer">
        select count(1) from sys_employee where deptId = #{deptId}
    </select>
    <select id="getEmployeeCountByRoleId" resultType="java.lang.Integer">
        select count(1) from sys_employee e
        inner join sys_role_employee re on e.id = re.`eid`
        where re.`rid` = #{roleId}
    </select>
    <select id="findEmployeeList" resultType="com.ssm.hotel.entity.Employee">
        select e.*,d.deptName from sys_employee e
        join sys_dept d on e.deptId = d.id
        <where>
            <if test="loginName != null and loginName != ''">
                and e.loginname like concat('%',#{loginName},'%')
            </if>
            <if test="name != null and name != ''">
                and e.name like concat('%',#{name},'%')
            </if>
            <if test="sex != null">
                and e.sex = #{sex}
            </if>
            <if test="deptId != null">
                and e.deptId = #{deptId}
            </if>
            <if test="startDate != null">
                <![CDATA[and e.hireDate >= #{startDate}]]>
            </if>
            <if test="endDate != null">
                <![CDATA[and e.hireDate <= #{endDate}]]>
            </if>
        </where>
        order by e.id
    </select>
    <select id="findEmployeeById" resultType="com.ssm.hotel.entity.Employee">
        select e.*,d.deptName from sys_employee e join sys_dept d on e.deptId = d.id where e.id = #{id}
    </select>


</mapper>